# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Temporary files
*.log
*.tmp

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# MLflow generated local files
mlruns/
mlflow.db
mlflow_backup.db

# Python cache
.pytest_cache/

# Training/intermediate datasets
data/emi_prediction_dataset.csv
data/train.csv
data/val.csv
data/test.csv
data/train_features.csv
data/val_features.csv
data/test_features.csv